.backgroundSection {
    background-image: url('../../public/bgMobileLanding.svg'); /* Caminho para a sua imagem */
    background-size: cover; /* Ajuste para cobrir toda a área */
    height: 100vh; /* Ajuste conforme necessário */
    /* Adicione outros estilos conforme necessário */
  }