.backgroundSection {
    background-image: url('../../public/images/bgMobileLanding.svg'); /* Caminho para a sua imagem */
    background-size: cover; /* Ajuste para cobrir toda a área */
    height: 741px;
    /* Adicione outros estilos conforme necessário */
  }